xsd/healthRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://api.psquickit.com/healthRecord" xmlns:tns="http://api.psquickit.com/healthRecord"
	xmlns:ns1="http://api.psquickit.com/common">

	<xs:import namespace="http://api.psquickit.com/common"
		schemaLocation="generic-service-response.xsd" />

	<xs:element name="getHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="healthRecord" type="tns:healthRecord" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="listHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="healthRecord" type="tns:healthRecord" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="healthRecord">
		<xs:sequence>
			<xs:element name="healthRecordId" type="xs:string" />
			<xs:element name="healthRecordDate" type="xs:dateTime" />
			<xs:element name="testNameValueReport" type="tns:testNameValueReport" maxOccurs="unbounded"/>
			<xs:element name="prescription" type="tns:prescription" maxOccurs="unbounded"/>
			<xs:element name="diagnosis" type="tns:diagnosis" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="addTestNameValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="healthRecordId" type="xs:string" />
				<xs:element name="healthRecordDate" type="xs:dateTime" />
				<xs:element name="testNameValue" type="tns:testNameValue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="testNameValue">
		<xs:sequence>
			<xs:element name="testName" type="xs:string" />
			<xs:element name="testValue" type="xs:string"/>
			<xs:element name="testRange" type="xs:string"/>
			<xs:element name="testUnit" type="xs:string"/>
			<xs:element name="subTestNameValue" type="tns:testNameValue" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="updateTestNameValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="healthRecordId" type="xs:string" />
				<xs:element name="testNameValueById" type="tns:testNameValueById" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:complexType name="testNameValueById">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="testName" type="xs:string" />
			<xs:element name="testValue" type="xs:string"/>
			<xs:element name="testRange" type="xs:string"/>
			<xs:element name="testUnit" type="xs:string"/>
			<xs:element name="subTestNameValueById" type="tns:testNameValueById" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateTestNameValueResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deleteTestResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	
	<xs:complexType name="testNameValueReport">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="testName" type="xs:string" />
			<xs:element name="testValue" type="xs:string"/>
			<xs:element name="testRange" type="xs:string"/>
			<xs:element name="testUnit" type="xs:string"/>
			<xs:element name="testReportFile" type="tns:testReportFile" maxOccurs="unbounded"/>
			<xs:element name="subTestNameValueById" type="tns:testNameValueById" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="getTestNameValueReportResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="testNameValueReport" type="tns:testNameValueReport" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="uploadPrescriptionResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="prescriptionId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="uploadDiagnosisResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="diagnosisId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deletePrescriptionResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="healthRecordId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deleteDiagnosisResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="healthRecordId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="testReportFile">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="fileStoreId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="prescriptionFile">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="fileStoreId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="diagnosisFile">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="fileStoreId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="prescription">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="prescriptionFile" type="tns:prescriptionFile" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="diagnosis">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="diagnosisFile" type="tns:diagnosisFile" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="addShareHealthRecord">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:shareRecordMinAttrs"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="addShareHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="sharedRecordId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updateShareHealthRecord">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:shareRecordUpdtAttrs"/>	
			</xs:complexContent>
		</xs:complexType>
	</xs:element>	
	<xs:element name="updateShareHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getShareHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="shareRecordAttrs" type="tns:shareRecordAttrs" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="listShareHealthRecordResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse">
					<xs:sequence>
						<xs:element name="shareRecordAttrs" type="tns:shareRecordAttrs" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="shareRecordMinAttrs">
		<xs:sequence>
			<xs:element name="sharedToUserId" type="xs:string" />
			<xs:element name="healthRecordId" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="shareRecordUpdtAttrs">
		<xs:complexContent>
			<xs:extension base="tns:shareRecordMinAttrs">
				<xs:sequence>		
					<xs:element name="sharedRecordId" type="xs:string"/>
				</xs:sequence>					
			</xs:extension>		
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="shareRecordAttrs">
		<xs:complexContent>
			<xs:extension base="tns:shareRecordMinAttrs">
				<xs:sequence>		
					<xs:element name="sharedRecordId" type="xs:string"/>
					<xs:element name="sharedByUserId" type="xs:string" />
					<xs:element name="sharedByFirstName" type="xs:string" />
					<xs:element name="sharedByLastName" type="xs:string" />
					<xs:element name="sharedByGender" type="xs:string" />
					<xs:element name="sharedByProfilePic" type="xs:string" />
					<xs:element name="sharedToFirstName" type="xs:string" />
					<xs:element name="sharedToLastName" type="xs:string" />
					<xs:element name="sharedToGender" type="xs:string" />
					<xs:element name="sharedToProfilePic" type="xs:string" />
				</xs:sequence>					
			</xs:extension>		
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="getPrescriptionNameValueResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:genericServiceResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="addPrescriptionNameValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="healthRecordId" type="xs:string" />
				<xs:element name="healthRecordDate" type="xs:dateTime" />
				<xs:element name="individualId" type="xs:string" />
				<xs:element name="prescriptionNameValue" type="tns:prescriptionNameValue" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="prescriptionNameValue">
		<xs:complexContent>
			<xs:extension base="tns:prescriptionNameValueMinAttrs">
				<xs:sequence>
					<xs:element name="id" type="xs:string" />
					<xs:element name="prescriptionRx" type="tns:prescriptionRx" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="prescriptionNameValueMinAttrs">
		<xs:sequence>
			<xs:element name="prescriptionName" type="xs:string" />
			<xs:element name="advice" type="xs:string" />
			<xs:element name="observation" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="prescriptionRx">
		<xs:complexContent>
			<xs:extension base="tns:prescriptionRxMinAttrs">
				<xs:sequence>
					<xs:element name="id" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="prescriptionRxMinAttrs">
		<xs:sequence>
			<xs:element name="medicineName" type="xs:string" />
			<xs:element name="strength" type="xs:string" />
			<xs:element name="dosage" type="xs:string" />
			<xs:element name="duration" type="xs:string" />
			<xs:element name="quantity" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
	
	